.formWrapper {
  display: flex;
  flex-direction: column;
  gap: 0.75em;
  padding: 2em 0;
  max-width: 450px;
  margin: auto;
  input {
    outline: none;
    border: 1px solid #bbb;
    border-radius: 5px;
    padding: 0.35em 0.5em;
  }
  .gropedInputs {
    display: flex;
    gap: 0.75em;
    > input {
      flex-grow: 1;
    }
  }
}
