@import "../../Mixins/Mixins.scss";
@import "../../Mixins/_variables";
@import "../../Mixins/_breakPoints.scss";

.discBody {
  @include grid2L(45%, 45%);
  grid-gap: 40px;
  justify-content: center;
  align-items: center;
  min-height: fit-content;
  background-color: #67697c;
  padding: 80px 0px;
  @include media("<desktop"){
    max-width: 550px;
    grid-template-columns: 100%;
    padding: 24px;
    margin: 24px auto;
  }
  @include media("<tablet"){
    max-width: 350px;
  }

  .discImage {
    width: 100%;
    max-width: 550px;
  }
  > div {
    height: 100%;
    position: relative;
    display: grid;
    grid-template-rows: 1fr 2fr 0.25fr;
    gap: 25px;
    .discMeta {
      padding: 20px;
      background-color: $sub_feild_bg;
      border-radius: 5px;
      max-height: 115px;
      @include media("<tablet"){
        min-height: fit-content;
        box-sizing: content-box;
      }
      .discTitle {
        margin-top: 0;
        font-weight: 500;
      }
    }
    .discMeta > div {
      display: flex;
      gap: 25px;
      @include media("<tablet"){
      flex-direction: column;
      gap: 0;
      }
      .discPrice {
        color: $price_color;
      }
      .discCategory {
        color: $category_color;
      }
    }
    .disc {
      padding: 20px;
      background-color: $sub_feild_bg;
      border-radius: 5px;
      font-size: 18px;
    }
    .discQuantity {
      display: flex;
      justify-content: space-between;
      .ant-input-number {
        //class from ant design
        @include flexfix();
        min-width: 200px;
        .ant-input-number-input-wrap {
          font-size: 20px;
        }
      }
      #buyBtn {
        font-size: 20px;
        padding: 5px 20px;
        border-radius: 5px;
        border: 1px solid #999;
        outline: none;
        cursor: pointer;
        font-weight: 500;
        background-color: #28b5b5;
        transition: all 0.35s;
        &:hover {
          background-color: #78c4d4;
          transform: translateY(-5px);
          box-shadow: 3px 3px 10px rgba(192, 192, 192, 0.664);
        }
        @include media("<tablet"){
        font-size: 16px;
        padding: 0 5px;
        }
      }
    }
  }
}
