.relatedProduct {
  padding: 45px;
  background: #dbdaea;
}
.relatedMeta {
  display: flex;
  justify-content: space-between;
  font-size: 18px;
}
.relatedCategory {
  color: #29bb89;
  text-shadow: 1px 1px 3px rgba(182, 182, 182, 0.801);
}
.relatedPrice {
  color: #28b5b5;
  text-shadow: 1px 1px 3px rgba(182, 182, 182, 0.801);
}
