@import "../../Mixins/_breakPoints.scss";

.relatedProductWrapper{
@include media('<desktop'){
    max-width: 500px;
    margin: auto;
  }
  @include media('<tablet'){
    max-width: 350px;
    margin: auto;
    padding: 0;
    >div:nth-child(1){
      >button{
        display: none;
      }
    }
  }
}
.relatedProduct {
  padding: 45px;
  background: #dbdaea;
  cursor: pointer;
}
.relatedMeta {
  display: flex;
  justify-content: space-between;
  font-size: 18px;
}
.relatedCategory {
  color: #29bb89;
  text-shadow: 1px 1px 3px rgba(182, 182, 182, 0.801);
}
.relatedPrice {
  color: #28b5b5;
  text-shadow: 1px 1px 3px rgba(182, 182, 182, 0.801);
}
